 {{#each this}}
<li class="gallery-item">
 <div class="card">
     <img class="img-card" src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="{{title}}" data-id="{{id}}"/>
      <div class="movie-card">
         <p class="subscribe-item-movie">{{title}}</p>
         <span class="subscribe-item">{{genre_ids}}</span>
         <span class="subscribe-item">&#8402 {{release_date}}</span>
      </div>
  </div>
</li>
{{/each}}