<img class="film-poster" src="https://image.tmdb.org/t/p/w500/{{poster_path}}" alt="{{original_title}}" onError="this.onerror=null;this.src='https://st.depositphotos.com/2185383/4533/v/950/depositphotos_45330099-stock-illustration-cinema-concept-poster.jpg;'" />
<div class="film-main-content">
    <h2 class="film-title">{{title}}</h2>
    <div class="film-information">
        <ul class="left-column">
            <li>Vote / Votes</li>
            <li>Popularity</li>
            <li>Original Title</li>
            <li>Genre</li>
        </ul>
        <ul class="right-column">
            <li>
                <span class="film-vote">{{vote_average}}</span>
                <span class="left-column"> / </span>
                <span class="film-votes">{{vote_count}}</span>
            </li>
            <li>{{popularity}}</li>
            <li class="film-original-title">{{original_title}}</li>
            <li class="film-genres">
                {{#each genres}}<span class="genres-punctuation">{{this.name}}</span>{{/each}}
            </li>
        </ul>
    </div>
    <p class="film-description-title">About</p>
    <p class="film-description">{{overview}}</p>
    <div class="action-buttons">
        <button class="btn-add-to-watched">add to watched</button>
        <button class="btn-add-to-queue">add to queue</button>
    </div>
    <div class="trailler-btn-div">
        <button class="trailler-btn" id="tailler-btn" data-id={{id}}>watch trailler</button>
    </div>
</div>
