{{#each this}}
<li class="glide__slide slider__card" data-action='{{id}}'>
        <img class="slider-image" src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="{{title}}"
            data-id="{{id}}"/>
        <span class="slider-rating">{{vote_average}}</span>
</li>
{{/each}}